<!DOCTYPE html>
<html lang="en">



        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=for, initial-scale=1.0">
            <title>Document</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css">

        </head>

        <body>

            <form method="post">
                <h1>EDITAR USUARIO</h1>
                
                <div>
                    <label for="id">Id</label>
                    <input type="text" name="id" id="id" readonly value="<%= Usuario._id %>">
                </div>
                <div>
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" value="<%= Usuario.nome %>">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="<%= Usuario.email %>">
                </div>
                <div>
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" value="<%= Usuario.senha %>">
                </div>
             
                <div>
                    <input type="submit" value="Salvar" class="botao">
                </div>
            </form>
       

        </body>

        </html>