<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <h1>ADICIONAR JOGO</h1>
    <form action="" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome"><br>
        <label for="genero">Genero</label>
        <input type="text" name="genero" id="genero"><br>
        <label type="datadelancamento">Data de Lançamento</label>
        <input type="date" name="datadelancamento" id="datadelancamento"><br>
        <label type="desenvolvedora">Desenvolvedora</label>
        <input type="text" name="desenvolvedora" id="desenvolvedora"><br>
        <label type="categoria">Categoria</label>
        <input type="text" name="categoria" id="categoria"><br>
       
        <label type="preco">Preço</label>
        <input type="number" name="preco" id="preco"><br>
        
         
        <input type="submit" value="Salvar">
         <a href="/admin/jogos/lstjogo" class="botao"> Voltar</a>
        
    </form>
</body>

</html>