
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADICIONAR CHAVE</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

    <h1>Adicionar Chave</h1>

    <form action="/admin/chave/addchave" method="post">
        <label for="chave">Chave:</label><br>
        <input type="text" name="chave" id="chave" required><br><br>

        <label for="jogo">Selecione o Jogo:</label><br>
        <select name="jogo" id="jogo" required>
            <% Jogo.forEach(function(jogo) { %>
                <option value="<%= jogo._id %>"><%= jogo.nome %></option>
            <% }) %>
        </select><br><br>

        <input type="submit" value="Salvar" class="botao">
    </form>

    <br>

    <a href="/admin/Jogos/lstjogo" class="botao">Voltar para Jogos</a> 
    <a href="/admin/chave/lstchave" class="botao">Mostrar Chaves</a> <br>
    <br><a href="/">Início</a>

</body>

</html>
