<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <h1>EDITAR CHAVE</h1>
    <form action="" method="post">
        <label for="id">Id</label>
        <input type="text" name="id" id="id" readonly value="<%= Chave._id %>"><br>
        <label for="nome">Chave</label>
        <input type="text" name="chave" id="chave"><br>
       
        
         
        <input type="submit" value="Salvar" class="botao">

   
    
        <a href="/admin/Jogos/lstjogo" class="botao"> Voltar Paea Jogos</a>
    </form>
</body>

</html>